<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "../Home")</li>
                    <li>@Html.ActionLink("进度演示", "ProgressDemo", "ProgressDemo")</li>
                    <li>@Html.ActionLink("基础", "CssDemo", "ProgressDemo")</li>
                    <li>@Html.ActionLink("网站", "WebDemo", "DivDemo", new { }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("网站BootStrap", "WebDemoBoot", "DivDemo", new { }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("下雪", "SnowDemo", "DivDemo")</li>
                    <li>@Html.ActionLink("无缝轮播", "LunBoDemo", "DivDemo")</li>
                    <li>@Html.ActionLink("手风琴", "AccordionDemo", "DivDemo")</li>
                    <li>@Html.ActionLink("JD沸腾国庆", "JDFTGQ", "DivDemo")</li>
                    <li>@Html.ActionLink("JD菜单", "JDIndex", "DivDemo", new { }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("楼梯滚屏", "StairDemo", "DivDemo")</li>
                    <li>@Html.ActionLink("Table", "TableDemo", "DivDemo")</li>
                    
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>