@model Model.JF_Tasks

@{
    Layout = null;
    ViewBag.Title = "Create";
    @Styles.Render("~/Content/css")
}
<style>
    body {
        padding-top: 0px;
        padding-left: 50px;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.form.js"></script>
<script src="~/Scripts/layer/layer.js"></script>
<script type="text/javascript">
    function submit1() {
        $.post("Create", $("#from1").serializeArray(), function (data) {
            if (data == "ok") {
                //layer.msg("登陆成功", {
                //    icon: 1
                //});
                parent.$('#submit1').click();
                parent.layer.closeAll('iframe');
            }
            else {
                layer.msg("错误", { icon: 2 });
            }
        });
    }
</script>

<h2>新增任务信息</h2>


@using (Html.BeginForm("Create", "JF_Tasks",FormMethod.Post,new { name = "from1", id = "from1" }))
{
    @Html.AntiForgeryToken()
    <table>
        <tr>
            <td>任务需求说明：</td>
            <td>@Html.TextArea("TaskNeeds", new { @style = "min-width:550px;height:200px" })</td>
        </tr>
        <tr>
            <td>研发积分：</td>
            <td>@Html.TextBox("ExecutorScore", "10")</td>
        </tr>
        <tr>
            <td>技术难度系数：</td>
            <td>@Html.TextBox("TechnicalFactor", "1.0")</td>
        </tr>
        <tr>
            <td>时间要求系数：</td>
            <td>@Html.TextBox("TimeFactor", "1.0")</td>
        </tr>
        <tr>
            <td>需求明细系数：</td>
            <td>@Html.TextBox("DemandDetailFactor", "1.0")</td>
        </tr>
        <tr>
            <td>测试评价系数：</td>
            <td>@Html.TextBox("TestEvaluteFactor", "1.0")</td>
        </tr>
        <tr>
            <td>需求评价系数：</td>
            <td>@Html.TextBox("NeedsEvaluteFactor", "1.0")</td>
        </tr>
        <tr>
            <td>执行人：</td>

            <td>@Html.DropDownList("Executor", "--请选择--")</td>
        </tr>
        <tr>
            <td>测试系数：</td>
            <td>@Html.TextBox("TestFactor", "0.5")</td>
        </tr>
        <tr>
            <td>上线发布系数：</td>
            <td>@Html.TextBox("OnlinePublishFactor", "1.0")</td>
        </tr>
        <tr>
            <td>测试人员：</td>
            <td>@Html.DropDownList("TestEmployee", "--请选择--")</td>
        </tr>
        <tr>
            <td>需求系数：</td>
            <td>@Html.TextBox("DemandFactor", "0.5")</td>
        </tr>
        <tr>
            <td>需求人员：</td>
            <td>@Html.DropDownList("DemandEmployee", "--请选择--")</td>
        </tr>
        <tr>
            <td>完成状态：</td>
            <td>@Html.DropDownList("FinishStatus")</td>
        </tr>
        <tr>
            <td><input type="button" value="Create" onclick="submit1()" /></td>
        </tr>
        <tr>
            <td>@*@Html.ActionLink("Back to List", "Index")*@
                <a href="javascript:" onclick="parent.layer.closeAll('iframe')">关闭</a>
            </td>
        </tr>
    </table>
}
