<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "../Home")</li>
                    <li>@Html.ActionLink("新闻", "Index", "News")</li>
                    <li>@Html.ActionLink("新闻栏目", "Index", "NewsColumn")</li>
                    <li>@Html.ActionLink("新闻361", "../../Jiaoyu361/Index", new { }, new { target = "_blank" })</li>
                    <li>@Html.ActionLink("CssJquery演示", "../../CssJquery/ProgressDemo/ProgressDemo")</li>
                    @*http://192.168.6.177/CssJquery/ProgressDemo
                    http://localhost:2182/CssJquery/ProgressDemo/ProgressDemo*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @if (Session["Login"] != null)
                        {
                            @Html.ActionLink("你好 " + Common.SessionClass.GetSession.EMRealName + "!", "", "../EM/EM_Employee/Edit/" + Common.SessionClass.GetSession.EmID)
                        }

                        @*//@Html.ActionLink("你好 " + Common.SessionClass.GetSession.EMRealName + "!", "", "EM/EM_Employee/Edit/" + Common.SessionClass.GetSession.EmID, routeValues: null, htmlAttributes: new { title = "管理" })*@
                    </li>

                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr style="clear:both" />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
